.top{
    display: inline;
    opacity: 0.8;
    color: gray;
    padding-right: 15px;
    font-family: 'Courier New', Courier, monospace;
    
}
.top:hover{
    opacity: 1;
    color: brown;
}
#top{

    padding-bottom: 30px;
}

.shoe{
    display: inline-block;
    padding-right: 8px;
}
.im{
    height: 250px;
    width: 250px;
}
p{
    opacity: 0.5;
}
.hov{
    background-color: brown;
    color: wheat;
    border-style: none;
    height: 30px;    
}
.middle {
    transition: .5s ease;
    opacity: 0;

    position: absolute;
    margin-top: -50px;
    padding-left: 40px;
    
  }  
  .shoe:hover .middle {
    opacity: 1;
  }


  #crt{
    border: solid;
    border-width: 1.0px;
    position: absolute;
    opacity: 0;
    background-image: url(Images/cer-bg.jpeg);
    }
#crt-low>p{

    opacity: 1;
    font-size: 15px;
}
  #crt-up{
      border: solid;
      border-width: 1.0px;
      padding-left: 150px;
    }
    #crt-low{
        border: solid;
        border-width: 0.6px;
        border-bottom: none;
        display: flex;
        font-size: 15px;
    }
    .cut-btn{
        border: none;
        font-size: 20px;
        margin-left: 50px;
    }
    #icn{
        font-size: 40px;
    }
#crt-end{
    padding-left: 100px;
    
}
.crt-btn{
    color: white;
    background-color: black;
    height: 40px;
    width: 100px;
    margin-left: 50px;
}