
h1{
    color: #40cac0;
}
#inp{
    width: 250px;
    border-style: hidden;
    border-bottom:1px solid #757575;
    color: gray;
}

li{
    text-align: center;
    list-style: none;
    border-color: black;
    border-style: solid;
}
#add{
    background-color:  #40cac0;
    width: 250px;
    border-style: hidden;
    margin-top: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#main{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    border: solid;
}